<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <!-- admin access to turn on the bluetooth when needed -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    
    <!-- location permissions needed on older devices to request bluetooth scanning-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
                     android:maxSdkVersion="30" />
    
    <!-- bluetooth permissions changed post SDK 30 to use these (never for location will filter beacons etc). -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" 
                     android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- and the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service android:name="uk.co.darkerwaters.flic_button.ControlService" />
    </application>
</manifest>
